{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Bricothèque{% endblock %}

{% block body %}
{{ parent() }}
<br/>
  <div class="jumbotron text-dark text-center">
    <h1 class="center display-1">La Bricothèque de Noeux-Les-Mines</h1>
    <p class="lead display 5">Avis aux bricoleurs/bricoleuses, cette page est faite pour vous !</p>
  </div>
      <br/>
<div class="container text-dark">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <img src= "{{ asset ('images/bricothequez.jpg') }}" class="img-fluid center" style="border: 1px solid black !important; margin-top:10px;" alt="bricotheque">
    </div>
  
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6"><br/>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Qu'est ce que la Bricothèque ?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body bg-white">La Bricothèque est un dispositif solidaire géré par les bénévoles du Conseil Citoyen de Noeux-Les-Mines

            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              A quoi ça sert ?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body bg-white">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              Je souhaite avoir plus de renseignements !
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body bg-white">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>

{% endblock %}
