{% apply inline_css %}
    <style>
        {# here, define your CSS styles as usual #}
        h1 {
            color: 
#ff851b;
        }
    </style>

<h1>Vous avez un nouveau contact</h1><br/>

<br />Nom: {{nom}}
<br />Prénom: {{prenom}}
<br />Sujet: {{sujet}}
<br />Message:
<br />{{message | nl2br }}

{% endapply %}